{% extends 'base.html.twig' %}

{% block title %}CAC - Competences Actives Consulting
{% endblock %}

{% block uniquesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}
	<section class="blue-right">
		<article class="container">
			<article>
				<a href="{{ path('services_index') }}" class="button left">En savoir +</a>
			</article>


			<article class="middle">
				<h2>Services pour particuliers</h2>
				<p class="texte-left">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
																																																																																																						Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odit ipsum corrupti pariatur necessitatibus voluptatibus magni assumenda? Voluptatibus, adipisci accusamus sit quod, rerum at possimus porro debitis deserunt sunt aspernatur.
																																																																																																						Velit, ducimus quasi, perferendis aut, sapiente ea omnis voluptas molestiae quam maiores dicta natus aspernatur incidunt autem tempore reprehenderit? Ipsa nisi eaque molestias eos quasi porro eius veniam deserunt asperiores?
				</p>
			</article>
		</article>
	</section>
	<section class="green-left">

		<article class="container">
			<article class="middle">
				<h2>Services aux entreprises</h2>
				<p class="texte-right">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
				</p>
			</article>


			<article class="container-button">
				<a href="{{ path('services_index') }}" class="button right">En savoir +</a>
			</article>

		</article>
	</section>
	<section class="blue-right">
		<article class="container">
			<article class="container-button">
				<a href="{{ path('contact') }}" class="button left">Nous contacter</a>
			</article>


			<article class="middle">
				<h2>Contact</h2>
				<p class="texte-left">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
				</p>
			</article>

		</article>
	</section>
	<section class="green-left">
		<article class="container">
			<article class="middle">
				<h2>Prestataires annexes</h2>
				<p class="texte-right">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
				</p>
			</article>


			<article class="container-button">
				<a href="{{ path('service_annexe') }}" class="button right">En savoir +</a>
			</article>

		</article>
	</section>

{% endblock %}
