{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="centre section-border">
		<h2>S'inscrire</h2>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.nom, {
            label: 'Nom : ',
			attr: {'class' : 'registerForm'}
        }) }}
		{{ form_row(registrationForm.prenom, {
            label: 'Prénom : ',
			attr: {'class' : 'registerForm'}
        }) }}
		{{ form_row(registrationForm.email, {
            label: 'Email : ',
			attr: {'class' : 'registerForm'}
        }) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe : ',
			attr: {'class' : 'registerForm'}
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="button">S'inscrire</button>
		{{ form_end(registrationForm) }}
	</section>

{% endblock %}
