{% extends 'base.html.twig' %}

{% block title %}Modifier les informations de l'entreprise - CAC
{% endblock %}

{% block navadmin %}
	<ul class="nav-links">
		<li>
			<a href="{{path('entreprise_edit', {'id': entreprise.id})}}">Entreprise</a>
		</li>
		<li>
			<a href="">Equipes</a>
		</li>
	</ul>
{% endblock %}

{% block body %}
	<h2 class="centre">Modifier les informations de l'entreprise</h2>

	{{ include('entreprise/_form.html.twig', {'button_label': 'Modifier'}) }}

	<h2 class="centre">Paragraphes de Description</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Paragraphe</th>
				<th>Position</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for description in descriptions %}
				<tr>
					<td>{{ description.paragraph }}</td>
					<td>{{ description.position }}</td>
					<td>
						<a href="{{ path('description_show', {'id': description.id}) }}" class="button">show</a>
						<a href="{{ path('description_edit', {'id': description.id}) }}" class="button">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Pas d'enregistrement trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('description_new') }}" class="button">Create new</a>

	<a href="{{path('presentation', {'id': entreprise.id})}}" class="button">revenir à la page de présentation</a>
{% endblock %}
