{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>Bienvenue administrateur dans la partie service</h1>
    {% block navadmin %}
				    <ul class="nav-links">
					<li>
					<a class="admin" href="{{ path('services_index')}}">services Admin</a>
					</li>
					</ul>
					{% endblock %}
                    
    <table id="table_service">
        <thead>
            <tr>
                <th>Nom du Service</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.position }}</td>
                <td>
                    <a href="{{ path('services_show', {'id': service.id}) }}" class="button">Voir</a>
                    <a href="{{ path('services_edit', {'id': service.id}) }}"class="button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun service trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('services_new') }}"class="button">Ajouter un nouveau service</a>
{% endblock %}
