{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block stylesheets %}
			<link rel="stylesheet" href=" {{ asset('assets/css/style.css') }} ">
			<link rel="stylesheet" href=" {{ asset('assets/css/Services.css') }} ">
		{% endblock %}

{% block body %}
    <h1>Services</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Nom du Service</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ service.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('services_index') }}" class="button">Retour à la liste</a>

    <a href="{{ path('services_edit', {'id': service.id}) }}" class="button">Modifier</a>

    {{ include('services/_delete_form.html.twig') }}
{% endblock %}
