{% extends 'base.html.twig' %}

{% block title %}Description
{% endblock %}

{% block navadmin %}
	<ul class="nav-links">
		<li>
			<a href="{{path('entreprise_edit', {'id': entreprise.id})}}">Entreprise</a>
		</li>
		<li>
			<a href="">Equipes</a>
		</li>
	</ul>
{% endblock %}

{% block body %}
	<h1>Description</h1>

	<table class="table">
		<tbody>

			<tr>
				<th>Paragraph</th>
				<td>{{ description.paragraph }}</td>
			</tr>
			<tr>
				<th>Position</th>
				<td>{{ description.position }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('description_index') }}" class="button">Revenir à la page précédente</a>

	<a href="{{ path('description_edit', {'id': description.id}) }}" class="button">Modifier</a>

	{{ include('description/_delete_form.html.twig') }}
{% endblock %}
