<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta>
		<title>
			{% block title %}CAC - Competences Actives Consulting
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href=" {{ asset('assets/css/style.css') }} ">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400&display=swap" rel="stylesheet">
		{% endblock %}


	</head>
	<body>
		{% block navbar %}
			<header>
				<a href="{{ path('home') }}"><img src=" {{ asset('images/Logo.jpg') }} " alt="logo CAC" id="logo"></a>
				<nav id="nav-header">
					<ul class="nav-links">
						<li>
							<a href="{{ path('service_visiteur') }}">Nos services</a>
						</li>

						<li>
							<a href="">Services Annexes</a>
						</li>
						<li>
							<a href="{{ path('presentation') }}">Qui sommes-nous?</a>
						</li>
						<li>
							<a href="">Nous contacter</a>
						</li>
						<li>
							<a href="">Blog</a>
						</li>
					</ul>
					<div class="burger">
						<span></span>
					</div>
				</nav>
				{% if is_granted("ROLE_ADMIN") %}
					{% block navadmin %}{% endblock %}
				{% endif %}
			</header>
		{% endblock %}
		<main>
			{% block banniere %}
				<section id="banniere-section">
					<img src=" {{ asset('images/banniere.jpg') }} " alt="banniere" id="banniere">
				</section>
			{% endblock %}
			{% block body %}{% endblock %}
		</main>
		<footer>
			<section class="footer">
				<p>CAC Competences Actives Consulting</p>
				<p>1 rue example</p>
				<p>Guadeloupe</p>
				<p>0101010101</p>
				<p>compact-cac@gmail.com</p>
			</section>
			<section class="footer">
				<p>Mentions légales</p>
			</section>
			<section class="footer">
				<nav id="nav-footer">
					<ul class="nav-links-footer">
						<li>
							<a href="">Nos services</a>
						</li>
						<li>
							<a href="">CAC</a>
						</li>
						<li>
							<a href="">Services Annexes</a>
						</li>
						<li>
							<a href="">Nous contacter</a>
						</li>
						<li>
							<a href="">Blog</a>
						</li>
					</ul>
				</nav>
			</section>
		</footer>
		{% block javascripts %}

			<script src=" {{ asset('assets/js/script.js') }} "></script>
		{% endblock %}
	</body>
</html>
