<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Site conçu et développé par Reggie CRAMER et Alexis CHAUVEAU, en stage pour la société Competences Active Consulting - Février 2022.">
		<meta name="description" content="Venez découvrir les services proposés par la société Competences Active Consulting, allant du développement personnel et de l'aide à la recherche d'emploi pour les particuliers, au bilan de compétences et ateliers management pour les entreprises.">
		<title>
			{% block title %}CAC - Competences Actives Consulting
			{% endblock %}
		</title>
		{% block stylesheets %}
			{% block bootstrap %}{% endblock %}
			<link rel="stylesheet" href=" {{ asset('assets/css/style.css') }} ">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400&display=swap" rel="stylesheet">
			<link rel="shortcut icon" type="image/png" href="{{ asset('images/' ~ entreprise.favicon) }}"/>
		{% endblock %}
		{% block uniquesheets %}{% endblock %}
	</head>
	<body>
		{% block navbar %}
			<header>
				<a href="{{ path('home') }}"><img src=" {{ asset('images/' ~ entreprise.logo) }} " alt="logo CAC" id="logo"></a>
				<nav id="nav-header">
					<ul class="nav-links">
						<li>
							<a href="{{ path('service_visiteur') }}">Nos services</a>
						</li>

						<li>
							<a href="{{ path('service_annexe') }}">Services Annexes</a>
						</li>
						<li>
							<a href="{{ path('presentation') }}">Qui sommes-nous?</a>
						</li>
						<li>
							<a href="{{ path('contact') }}">Nous contacter</a>
						</li>
						{% if is_granted("ROLE_ADMIN") %}
							<li>
								<a href="{{path('user')}}">Utilisateurs</a>
							</li>
						{% endif %}
					</ul>
					<div class="burger">
						<span></span>
					</div>
					{% if is_granted("ROLE_ADMIN") %}
						{% block navadmin %}{% endblock %}
					{% endif %}
				</nav>

			</header>
		{% endblock %}
		<main>
			{% block banniere %}
				<section id="banniere-section">
					<img src=" {{ asset('images/' ~ entreprise.banniere) }} " alt="banniere" id="banniere">
				</section>
			{% endblock %}
			{% block body %}{% endblock %}
		</main>
		<footer>
			{# <section class="footer">
				<p>{{entreprise.nom}}</p>
				<p>{{entreprise.adresse}}</p>
				<p>{{entreprise.codepostal}}
					{{entreprise.ville}}
					-
					{{entreprise.pays}}</p>
				<p>{{entreprise.telephone}}</p>
				<p>{{entreprise.mail}}</p> #}
			</section>
			<section class="footer">
				<a href="{{path('mentions')}}">Mentions légales</a>
			</section>
			<section class="footer">
				<nav class="nav-footer">
					<ul class="nav-links-footer">
						<li>
							<a href="{{ path('service_visiteur') }}">Nos services</a>
						</li>
						<li>
							<a href="{{ path('service_annexe') }}">Services Annexes</a>
						</li>
						<li>
							<a href="{{ path('presentation') }}">Qui sommes-nous?</a>
						</li>
						<li>
							<a href="{{path('contact')}}">Nous contacter</a>
						</li>
					</ul>
				</nav>
			</section>
			{% if reseaux %}
				<section class="footer">
					<nav class="nav-footer">
						<ul class="nav-links-footer">
							{% for reseau in reseaux %}
								<li>
									<a href="{{ reseau.lien }}"><img src="{{ asset('images/' ~ reseau.image) }}" alt="logo {{reseau.nom}}">
										{{reseau.nom}}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
				</section>
			{% endif %}
		</footer>
		{% block javascripts %}
		{% block uniquejs %}{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
			<script src=" {{ asset('assets/js/script.js') }} "></script>
		{% endblock %}
	</body>
</html>
