{% extends 'base.html.twig' %}

{% block title %}ParagrapheOffres index{% endblock %}

{% block body %}
    <h1>ParagrapheOffres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paragraphe_offre in paragraphe_offres %}
            <tr>
                <td>{{ paragraphe_offre.id }}</td>
                <td>{{ paragraphe_offre.message }}</td>
                <td>
                    <a href="{{ path('paragraphe_offres_show', {'id': paragraphe_offre.id}) }}">show</a>
                    <a href="{{ path('paragraphe_offres_edit', {'id': paragraphe_offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paragraphe_offres_new') }}">Create new</a>
{% endblock %}
